<main class="main">
    
    {{#with data}}
    <div class="main__content">
       <h1 class="title title--center">{{name}}</h1>
       
        <a href="/spotify-playlist-add?playlistId={{../playlistId}}&trackId={{id}}" class="add-button">
            <img src="/dist/svg/add_button.svg">
            Додати до плейлиста
        </a>
        <ul class="track__list">
            {{#each tracks}}
            <li class="track">
                <img src="{{image}}">
                <div class="track__content">
                    <strong class="track__name">{{name}}</strong>
                    <em class="track__author">{{author}}</em>
                </div>
                {{!-- <a href="/spotify-track-add?playlistId={{../playlistId}}&trackId={{id}}">
                    <img src="/dist/svg/add_butt.svg">
                </a> --}}

                <form action="/spotify-track-add" method="post">
                    <input type="hidden" name="playlistId" value="{{../playlistId}}">
                    <input type="hidden" name="trackId" value="{{id}}">
                    <button type="submit">
                        <img src="/" alt="icon" class="track__icon">
                    </button>
                </form>
            </li>
            {{/each}}
        </ul>
            
       
        
    </div>
    {{/with}}
</main>