
 <main>
    <section class="main">
        
        <div class="title">
            {{> heading title="Інформація про замовлення"}}
        </div>
        {{!-- {{#with data}} 
        {{#each list}} --}}
        <div class="purchase-info">
            {{> field label="ID:" name="{{id}}"}}
        </div>
        <div class="user-info">
           
            {{> field label="Ім'я:" name="{{firstname}}"}}
            {{> field label="Прізвище:" name="{{lastname}}"}}
            {{> field label="Телефон:" name="{{phone}}"}}
            {{> field label="Пошта:" name="{{email}}"}}
            
        </div>
        {{> divider}}
        {{> field label="Назва товару:" name="{{product.title}}"}}
        {{> field label="Коментар:" name="{{comment}}"}}

        <div class="price-info">
            {{> field label="Вартість товарів:" name="{{productPrice}}"}}
            {{> field label="Вартість доставки:" name="{{deliveryPrice}}"}}
            {{> field label="Сума до сплати:" name="{{totalPrice}}"}}
            {{> field label="Нараховані бонуси:" name="{{bonus}}"}}
        </div>
        {{!-- {{/each}}
        {{/with}} --}}
        {{> divider}}

        <a href='/purchase-edit?id={{id}}'>
            {{> button text="Змінити дані"}}
        </a>
        
    </section> 
    
 </main>