{{#with data.products}}
{{#each list}}
<div class="product-card">
  
    <h2 class="product-card__title">{{name}}</h2>
    <p class="product-card__description">{{description}}</p>
    <span class="product-card__id">ID: {{id}}</span>
    <div class="pricEdit__box">
        <strong class="product-card__price">{{price}}</strong>
        <button class="card__btn"><a href="/product-edite?id={{id}}" class="card__btn">Редагувати</a></button>
   
    </div>  
     
</div>
{{/each}}
{{/with}}